<div style="margin: 25px">
    <span class="label" style="display: inline-block; width: 200px;">{{item.title}}</span>

    <input type="text" *ngIf="item.type == 'string'" [(ngModel)]="item.value" class="input-text" matInput placeholder="input text">

    <input type="number" *ngIf="item.type == 'number'" [(ngModel)]="item.value" class="input-number" matInput placeholder="input number">

    <!-- <input type="radio" *ngIf="item.type == 'radio'" [value]="1" [name]="item.title" [(ngModel)]="item.value" class="radio">
    <input type="radio" *ngIf="item.type == 'radio'" [value]="0" [name]="item.title" [(ngModel)]="item.value" class="radio"> -->
    <mat-radio-group 
        *ngIf="item.type == 'radio'"
        class="radio-group"
        [(ngModel)]="item.value">
        <mat-radio-button class="radio" *ngFor="let v of [1, 0]" [value]="v">
            {{v == 1 ? 'Yes' : 'No'}}&nbsp;&nbsp;
        </mat-radio-button>
    </mat-radio-group>

    <!-- <select *ngIf="item.type == 'select'" [(ngModel)]="item.value" class="select">
        <option *ngFor="let x of item.options">{{x}}</option>
    </select> -->
    <mat-select *ngIf="item.type == 'select'" [(ngModel)]="item.value" class="select" style="width: 200px;">
        <mat-option *ngFor="let x of item.options" [value]="x">
          {{x}}
        </mat-option>
    </mat-select>

    <!-- <input type="checkbox" *ngIf="item.type == 'checkbox'" [(ngModel)]="item.value" class="input-checkbox">  -->
    <mat-checkbox *ngIf="item.type == 'checkbox'" [(ngModel)]="item.value" class="input-checkbox"></mat-checkbox>    
    
    <mat-slider  *ngIf="item.type == 'slider'" [(ngModel)]="item.value" min="1" max="100" step="1" value="50"></mat-slider>

    <!-- <input type="date" *ngIf="item.type == 'date'" [(ngModel)]="item.value" class="input-date">         -->
    <ng-container *ngIf="item.type == 'date'">
        <input matInput [matDatepicker]="picker" [(ngModel)]="item.value" class="input-date" placeholder="input date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </ng-container>

    <div *ngFor="let child of item.childItems" style="margin-left: 25px;">
        <app-questionnaire-item *ngIf="!child.parentAnswer || child.parentAnswer == item.value" [item]="child"></app-questionnaire-item>
    </div>
</div>